h2.text-box {
  color: #b04400;
  font-family: 'Open Sans';
  font-size: 14.5px;
  padding-bottom: 6px;
}

.principal-desk-container {
  position:relative;
  background: #fff;
  /* display: inline-block; */
  /* max-height: inherit; */
  height: 660px;
  width: 350px;
  border: 1px solid #b04400;
  padding: 15px;
  margin: 40px 0px 50px auto;
  background: #fff;
  box-shadow: 0 3px 10px 0;
  right:5%;
}

.principal-desk-container .image-container {
  width: 100%;
  text-align: center;
}

 .image {
  width: 100%;
  height: 40%;
  margin: auto;
  margin-bottom: 10px;
  overflow: hidden;
}

.read-btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11.5px;
  background: #b04400;
  padding: 7px 12px 7px 12px;
  text-decoration: none;
}

.read-btn:hover {
  color: white;
  text-decoration: none;
}
